
:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0,0%,100%);
    --light-gray: hsl(217, 12%, 63%);
    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --star-height: 13px;
    --star-width: 13px;
    --circle-width: 50px;
    --circle-height: var(--circle-width);
}
html {
    font-size: 15px;
    font-family: Overpass;
    height: 100vh;
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;
}
article {
    width: 420px;
    height: 420px;
}
h1 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 0;
}
p {
    color: var(--medium-gray);
    line-height: 1.7rem;
    
}
fieldset {
    border: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    margin-top: 2rem;
}
label {
    box-sizing: border-box;
    color: var(--medium-gray);
    background-color: var(--dark-blue);
    display: inline-block;
    height: var(--circle-height);
    width: var(--circle-width);
    border-radius: 50%;
    line-height: 3.5rem;
    cursor: pointer;
    margin: 0;
}
input,legend {
    display: none;
}
button {
    width: 100%;
    margin-top: 2rem;
    border-radius: 50px;
    height: 40px;
    border: 0;
    background-color: var(--orange);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.how-did-we-do {
    width: 35ch;
}
.star-icon {
    background-color: hsl(216, 12%, 12%);
    height: var(--circle-height);
    width: var(--circle-width);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-icon img {
    width: var(--star-width);
    height: var(--star-height);
}
.rating-section, .thank-you-section {
    background-color: var(--very-dark-blue);
    border-radius: 20px;
    padding: 30px;
}

.thank-you-section {
    text-align: center;
}
.selection-text {
    color: var(--orange);
    background-color: hsl(216, 12%, 12%);
    border-radius: 20px;
    width: max-content;
    margin: 20px auto;
    font-size: .8rem;
    padding: 2px 40px;
}
.thank-you-text {
    width: 35ch;
    margin: 1rem auto;
}
.hidden {
    display: none;
}
label:hover {
    background-color: var(--orange);
    color: var(--white);
}
button:hover {
    background-color: var(--white);
    color: var(--orange);
    cursor: pointer;
}
input:checked + label  {
    background-color: var(--light-gray);
    color: var(--white);
}
footer {
    position: absolute;
    bottom: 1rem;
}
footer a {
    color: white;
}
@media (max-width: 450px) {
    article {
        width: 340px;
        height: 340px;
    }
        label {
        width: 40px;
        height: 40px;
        line-height: 2.8rem;
    }
    .how-did-we-do, .thank-you-text {
        width: 31ch;
    }
    .rating-section, .thank-you-section {
        padding: 20px;
    }
}