
:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0,0%,100%);
    --light-gray: hsl(217, 12%, 63%);
    --medium-gray: 
}













.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }